{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "indent": "off",
    "no-use-before-define": "off",
    "no-console": "off",
    "no-else-return": [
      "error",
      {
        "allowElseIf": true
      }
    ],
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".ts"
        ]
      }
    }
  }
}